@model RentACarSample.Entities.Customer

@{
    ViewData["Title"] = "Details";
}

<partial name="_PageTitlePartial" model="@("Customer Details")" />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Model.Id
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Model.Surname
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TCKN)
        </dt>
        <dd class="col-sm-10">
            @Model.TCKN
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Model.Phone
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsBlacklist)
        </dt>
        <dd class="col-sm-10">
            @Model.IsBlacklist
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    <a asp-action="Index" class="btn btn-secondary btn-sm">Back to List</a>
</div>
